footer{
    text-align: center;
    margin-top: 50px;
}
.figpic{
    text-align: center;
}
#pic{
    width: 50%;
}
.tag{
    display: flex;
}
.me a{
    padding: 20px;
    text-align: center;
    text-decoration: none;
}
table{
    border-collapse: collapse;
}
td{
    border: 1px solid orangered;
    padding: 5px 15px;
    /* text-align: center; */
}
thead>tr>td{
    font-weight: 800;
}